body
{
  background-image: url("background1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors logo */
nav .navbar-brand .red
{
    color: #ea433b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.matchheads
{
    text-align:justify;
    text-align-last:left;
}
